In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth

utilizes the MLxtend library in Python for performing association rule mining on transactional 
datasets. It imports the necessary modules and functions for this purpose:
pandas for data manipulation, 
TransactionEncoder for converting datasets, and 
apriori, fpmax, and fpgrowth for mining frequent itemsets and generating association rules.

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
te = TransactionEncoder()
# creates an instance of the TransactionEncoder class, which is responsible for converting 
# the dataset into a suitable format.
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

By using above lines of code, you can convert a 
transactional dataset (represented as a list of lists or any other suitable format) 
into a binary encoded DataFrame, where each 
column represents an item and each row represents a transaction.

In [4]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [5]:
# frequent_itemsets = fpgrowth(df, min_support=0.5, use_colnames=True)
### alternatively:
 frequent_itemsets = apriori(df, min_support=0.7, use_colnames=True)
#frequent_itemsets = fpmax(df, min_support=0.6, use_colnames=True)

In [6]:
frequent_itemsets

   support              itemsets
0      1.0        (Kidney Beans)
1      0.8                (Eggs)
2      0.8  (Kidney Beans, Eggs)

In [7]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.0,0.0,inf,0.0

In [8]:
support_confidence = rules[['antecedents','consequents', 'support', 'confidence']]
print(support_confidence)

  antecedents     consequents  support  confidence
0      (Eggs)  (Kidney Beans)      0.8         1.0